Flask==2.1.0
Flask_Cors==3.0.10
geopy==2.4.1
h2o==3.46.0.1
joblib==1.4.2
lime==0.2.0.1
matplotlib==3.5.2
MiniSom==2.3.2
mlflow==2.12.1
mplcursors==0.5.3
numpy==1.24.3
pandas==1.4.4
plotly==5.21.0
scikit_learn==1.0.2
seaborn==0.11.2
selenium==4.21.0
shap==0.45.0
statsmodels==0.13.2
tensorflow==2.14.0
